main.main {
margin: auto;
    max-width: 1240px;
    .contener {
        width: 80%;
        margin: auto;
        justify-content: center;
    }
}


// Media queries
@media (min-width: 768px) and (max-width: 1023px) {

}

@media (min-width: 1024px) {

}