main.main {
    margin: auto;
    max-width: 1240px;
    .contener {
        width: 80%;
        margin: auto;
        justify-content: center;
    }
}


// Media queries
@media (max-width: 765px) {
    main.main {

        .contener {
            width: 100%;
            

        }
    }
}