// Mobile styles
main.housing {
    max-width: 1240px;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


// Media queries
@media (min-width: 768px) and (max-width: 1023px) {

}

@media (min-width: 1024px) {

}