.dropdowns {
    display: grid;
    grid-template-columns: repeat(1, 100%);
    align-items: center;
    justify-content: center;
    padding-top: 30px;
    background-color: white;
    width: 100%;
    box-sizing: border-box; // Assure que le padding est inclus dans la largeur totale


    .dropdown {
        width: 100%;
        margin-bottom: 30px;
        box-sizing: border-box; // Assure que le padding et les bordures sont inclus dans la largeur totale


        .title {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            background-color: #FF6060;
            padding: 10px 20px 10px 15px;
            border-radius: 5px;
            font-weight: 700;
            font-size: 24px;
            color: white;
            width: 100%; 
            box-sizing: border-box; // Assure que le padding est inclus dans la largeur totale
            z-index: 10;

            p {
                margin: 0;
            }

            .icon {
                transition: transform 0.3s ease-in-out; // Ajoute une transition pour l'animation de rotation
            }

            .icon.rotate {
                transform: rotate(-180deg); // Applique une rotation de 180 degrés
            }
        }

        .content {
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
            background-color: #F6F6F6;
            overflow: hidden;
            max-height: 0; // Commence à 0 pour ne prendre aucune place
            transition: max-height 0.3s ease, padding 0.3s ease; // Transition pour max-height et padding
            padding: 0 15px; // Padding initial ajusté
            visibility: hidden; // Rendre le contenu invisible initialement
            width: 100%;
            box-sizing: border-box;
        
            &.open {
                max-height: 1000px; // Augmente max-height pour permettre au contenu de s'expandre
                padding-top: 10px;
                padding-bottom: 10px;
                visibility: visible;
                transition-delay: 0s; // Assure que la transition commence immédiatement
            }
        
            ul {
                list-style: none;
                padding: 0;
                margin: 0;
                display: flex;
                flex-direction: column;
            }
        }
        
    }
}






//
@media (max-width: 765px) {
    .dropdowns {
        width: 100%;    

        .dropdown {
            width: 100%;
            .title{
                font-size: 13px;
            }
            .content{
                font-size: 13px;
            }
        }
    }    
}