.title {
    position: relative; // L'élément est positionné relativement pour que le pseudo-élément soit positionné correctement
    max-width: 1240px;
    width: calc(100% - 20px); // Assure un espace de 10px de chaque côté
    height: 223px;
    color: white;
    font-size: 48px;
    font-weight: 700;
    border-radius: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden; // Le pseudo-élément ne dépasse pas
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin: 0 auto; // Centre la div horizontalement

    // Pseudo-élément pour l'arrière-plan avec le filtre
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: inherit; // Hérite de l'image de fond du parent
        filter: brightness(50%);
        z-index: 1; // Le pseudo-élément est en dessous du texte
    }

    // Le texte est au-dessus du pseudo-élément
    span {
        position: relative;
        z-index: 2;
        text-shadow: 
            -1px 0 black, 
            0 1px black, 
            1px 0 black, 
            0 -1px black,
            0px 4px 4px rgba(0, 0, 0, 0.25);
    }
}

@media (max-width: 765px) {
    .title {
        justify-content: start;
        padding: 20px; // Réduire le padding pour les petits écrans
        height: 111px;
        
        font-size: 24px; // Réduire la taille de la police pour les petits écrans
        font-weight: 700;
        line-height: 24px;
        text-align: left;
        box-sizing: border-box; // Inclure le padding dans la largeur totale
        margin: 0 10px; // Ajouter une marge pour s'assurer que la div ne touche pas les bords de l'écran

        span {
            font-size: 24px;
            font-weight: 700;
            line-height: 24px;
            text-align: left;
        }
    }
}
