header {
    max-width: 1240px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px;

    margin: auto;
    nav{     
        margin-right: 30px;   
        ul{
            display: flex;
            justify-content: space-between;

            li{
                list-style: none;
                margin-inline: 25px;

                a{
                    text-decoration: none;
                    font-family: 'Montserrat';
                    font-size: 14px;
                    font-weight: 500 ;
                    color: black;
                }
            }            
        }        
    }
    img{
        width: 145px;
        height: 45px;
    }
}



// Media queries
@media (min-width: 768px) and (max-width: 1023px) {

}

@media (min-width: 1024px) {

}